
 <h1>   파공블 Block Chain Network</h1>


<form action="login" method="POST">
    <div class="form-group">
        <input type="text" name="wallet_id" placeholder="지갑ID를 입력해주세요!">
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Remember Me</label>
        </div>
        <input type="submit" value="로그인" />
    </div>

</form>


<hr>

<div class="text-center">
    <a class="small" href="register">Create an Account!</a>

</div>